@import "variables";

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $gray;
  z-index: 999;

  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    font-weight: 600;
    color: white;
  }

  &--static { position: unset }

  &__padding {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__mobile {
    width: 100%;

    @include breakpoint("medium") { display: none }
  }

  &__content {
    text-align: center;
    display: none;

    img { display: none }

    @include breakpoint("medium") {
      width: 100%;
      text-align: initial;
      img { display: initial }
    }

    @include breakpoint("medium") { display: block }

    @include breakpoint("limiter");
  }

  &__links {
    list-style: none;
    margin: 0;
    padding: 0;

    li { margin: 15px 0 }

    @include breakpoint("medium") {
      float: right;
      width: fit-content;

      li { display: inline; margin: 0 15px }
    }
  }
}
