@font-face {
  font-family: "nexabold";
  src: url("../fonts/Nexa-Bold.otf") format("opentype"); }
@font-face {
  font-family: "gothamlight";
  src: url("../fonts/Gotham-Light.otf") format("opentype"); }
@font-face {
  font-family: "gothamlightitalic";
  src: url("../fonts/Gotham-Lightitalic.otf") format("opentype"); }
@font-face {
  font-family: "gothammedium";
  src: url("../fonts/Gotham-Medium.otf") format("opentype"); }
@font-face {
  font-family: "gothamxlight";
  src: url("../fonts/Gotham-XLight.otf") format("opentype"); }
@font-face {
  font-family: "gothamxlightitalic";
  src: url("../fonts/Gotham-XLightita.otf") format("opentype"); }
@keyframes bgcolor {
  0% {
    opacity: 0%; }
  50% {
    opacity: 100%; }
  100% {
    opacity: 0%; } }
@font-face {
  font-family: "nexabold";
  src: url("../fonts/Nexa-Bold.otf") format("opentype"); }
@font-face {
  font-family: "gothamlight";
  src: url("../fonts/Gotham-Light.otf") format("opentype"); }
@font-face {
  font-family: "gothamlightitalic";
  src: url("../fonts/Gotham-Lightitalic.otf") format("opentype"); }
@font-face {
  font-family: "gothammedium";
  src: url("../fonts/Gotham-Medium.otf") format("opentype"); }
@font-face {
  font-family: "gothamxlight";
  src: url("../fonts/Gotham-XLight.otf") format("opentype"); }
@font-face {
  font-family: "gothamxlightitalic";
  src: url("../fonts/Gotham-XLightita.otf") format("opentype"); }
@keyframes bgcolor {
  0% {
    opacity: 0%; }
  50% {
    opacity: 100%; }
  100% {
    opacity: 0%; } }
.section--fixed-size {
  height: 80vh; }
  @media (max-height: 500px) {
    .section--fixed-size {
      min-height: 100vh;
      height: unset; } }
.section--start {
  margin-top: 116px; }
.section--bg-dark {
  background-image: url(../images/background-1.png); }
.section__content {
  text-align: center;
  padding: 30px;
  max-width: 1400px;
  margin: 0 auto; }
  @media (max-height: 500px) {
    .section__content {
      padding-top: 80px; } }
.section--about {
  background-image: url(../images/BNKR2.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: unset !important; }
  @media (min-width: 768px) {
    .section--about {
      padding: 15% 0 15% 0; }
      .section--about .section__content {
        text-align: left; } }
.section--presentation {
  height: fit-content; }
  .section--presentation .section__content {
    padding: 10% 5% 0 5%; }
  .section--presentation .button {
    margin: 0 auto; }
  @media (min-width: 768px) {
    .section--presentation .button {
      margin: unset; } }
.section--bg1 {
  background-image: url(../images/background-1.png); }
.section--bg2 {
  background-image: url(../images/background-2.png); }
@media (min-width: 768px) {
  .section {
    min-height: 80vh; } }
.section--white {
  background-color: white; }
.section--black {
  background-color: black; }
.section--yellow {
  background-color: #FFFF54; }
.section--gray {
  background-color: #262626; }
.section--light-gray {
  background-color: #CECECE; }

@font-face {
  font-family: "nexabold";
  src: url("../fonts/Nexa-Bold.otf") format("opentype"); }
@font-face {
  font-family: "gothamlight";
  src: url("../fonts/Gotham-Light.otf") format("opentype"); }
@font-face {
  font-family: "gothamlightitalic";
  src: url("../fonts/Gotham-Lightitalic.otf") format("opentype"); }
@font-face {
  font-family: "gothammedium";
  src: url("../fonts/Gotham-Medium.otf") format("opentype"); }
@font-face {
  font-family: "gothamxlight";
  src: url("../fonts/Gotham-XLight.otf") format("opentype"); }
@font-face {
  font-family: "gothamxlightitalic";
  src: url("../fonts/Gotham-XLightita.otf") format("opentype"); }
@keyframes bgcolor {
  0% {
    opacity: 0%; }
  50% {
    opacity: 100%; }
  100% {
    opacity: 0%; } }
.split {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center; }
  @media (min-width: 768px) {
    .split {
      flex-direction: row;
      text-align: left; } }
  .split--inverted {
    flex-direction: column-reverse; }
    @media (min-width: 768px) {
      .split--inverted {
        flex-direction: row; } }
  .split__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0; }
    @media (min-width: 768px) {
      .split__content {
        width: 50%;
        padding: 0 50px;
        margin: 0; } }
    @media (min-width: 1200px) {
      .split__content {
        padding: 0 100px; } }
    .split__content--white {
      background-color: white; }
    .split__content--black {
      background-color: black; }
    .split__content--yellow {
      background-color: #FFFF54; }
    .split__content--gray {
      background-color: #262626; }
    .split__content--light-gray {
      background-color: #CECECE; }

@font-face {
  font-family: "nexabold";
  src: url("../fonts/Nexa-Bold.otf") format("opentype"); }
@font-face {
  font-family: "gothamlight";
  src: url("../fonts/Gotham-Light.otf") format("opentype"); }
@font-face {
  font-family: "gothamlightitalic";
  src: url("../fonts/Gotham-Lightitalic.otf") format("opentype"); }
@font-face {
  font-family: "gothammedium";
  src: url("../fonts/Gotham-Medium.otf") format("opentype"); }
@font-face {
  font-family: "gothamxlight";
  src: url("../fonts/Gotham-XLight.otf") format("opentype"); }
@font-face {
  font-family: "gothamxlightitalic";
  src: url("../fonts/Gotham-XLightita.otf") format("opentype"); }
@keyframes bgcolor {
  0% {
    opacity: 0%; }
  50% {
    opacity: 100%; }
  100% {
    opacity: 0%; } }
.title {
  font-size: 30px;
  font-weight: lighter; }
  .title--white {
    color: white; }
  .title--black {
    color: black; }
  .title--yellow {
    color: #FFFF54; }
  .title--gray {
    color: #262626; }
  .title--light-gray {
    color: #CECECE; }
  @media (min-width: 768px) {
    .title {
      font-size: 40px; } }

@media (min-width: 768px) {
  .subtitle {
    max-width: 60%; } }
@media (min-width: 1200px) {
  .subtitle {
    font-size: 20px; } }

.text-background {
  width: fit-content;
  margin: 0 auto; }
  .text-background--white {
    background-color: white; }
  .text-background--black {
    background-color: black; }
  .text-background--yellow {
    background-color: #FFFF54; }
  .text-background--gray {
    background-color: #262626; }
  .text-background--light-gray {
    background-color: #CECECE; }

.text--bold {
  font-weight: bold; }
.text--small {
  font-size: 20px; }
.text--center {
  text-align: center; }
.text--white {
  color: white; }
.text--black {
  color: black; }
.text--yellow {
  color: #FFFF54; }
.text--gray {
  color: #262626; }
.text--light-gray {
  color: #CECECE; }

@font-face {
  font-family: "nexabold";
  src: url("../fonts/Nexa-Bold.otf") format("opentype"); }
@font-face {
  font-family: "gothamlight";
  src: url("../fonts/Gotham-Light.otf") format("opentype"); }
@font-face {
  font-family: "gothamlightitalic";
  src: url("../fonts/Gotham-Lightitalic.otf") format("opentype"); }
@font-face {
  font-family: "gothammedium";
  src: url("../fonts/Gotham-Medium.otf") format("opentype"); }
@font-face {
  font-family: "gothamxlight";
  src: url("../fonts/Gotham-XLight.otf") format("opentype"); }
@font-face {
  font-family: "gothamxlightitalic";
  src: url("../fonts/Gotham-XLightita.otf") format("opentype"); }
@keyframes bgcolor {
  0% {
    opacity: 0%; }
  50% {
    opacity: 100%; }
  100% {
    opacity: 0%; } }
.button {
  border: 0;
  padding: 10px 20px;
  color: #262626;
  font-size: 20px;
  transition: padding 0.2s;
  cursor: pointer;
  width: fit-content; }
  .button--rounded {
    border-radius: 10px; }
  .button--white {
    background-color: white; }
  .button--black {
    background-color: black; }
  .button--yellow {
    background-color: #FFFF54; }
  .button--gray {
    background-color: #262626; }
  .button--light-gray {
    background-color: #CECECE; }

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5; }

a {
  font-weight: bold;
  text-decoration: none;
  color: #3ababe; }

.center {
  margin: 0 auto; }

.logo-small {
  width: 150px; }

.text-center {
  text-align: center; }

.image {
  max-width: 100%; }
  @media (min-width: 425px) {
    .image {
      max-width: 70%; } }
  @media (min-width: 768px) {
    .image {
      max-width: 100%; } }

img {
  height: auto;
  width: 100%;
  max-width: 405px; }

.color--white {
  color: white; }
.color--black {
  color: black; }
.color--yellow {
  color: #FFFF54; }
.color--gray {
  color: #262626; }
.color--light-gray {
  color: #CECECE; }

.left, .right {
  text-align: center; }

.spacer {
  margin: 25px 0; }

ul {
  list-style: none;
  padding-left: 0;
  text-align: left; }
  ul li {
    margin: 15px 0; }

/*# sourceMappingURL=style.css.map */
